.wrapper {
  padding: 42px 0 80px;
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 33px;
}

.image {
  display: block;
  width: 826.72px;
  height: 525px;
  border-radius: 16px;
  object-fit: cover;
}

.details {
  background: #2b2b2d;
  border-radius: 16px;
  padding: 30px 41px 30px 18px;
  min-width: 370px;

  &__title {
    font-family: "CATLinz";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 29px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #f9f4f1;
    margin-bottom: 16px;
  }

  &__info {
    display: flex;
    justify-content: space-between;
  }

  &__info_item {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    color: #f9f4f1;

    span {
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      color: #ff9110;
      padding: 4px 15px;
      background: rgba(255, 145, 16, 0.1);
      border-radius: 100px;
      margin-bottom: 16px;
      display: block;
      width: max-content;
    }
  }
}
