.wrapper {
  display: flex;
  flex-direction: column;
}

.header {
  min-height: 500px;
  max-height: 1080px;
  height: calc(100vh - 90px);
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.header__inner {
  max-width: 512px;
}

.header__title {
  font-family: "CATLinz";
  font-style: normal;
  font-weight: 400;
  font-size: 75px;
  line-height: 71px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.header__subtitle {
  font-weight: 400;
  font-size: 11.9974px;
  line-height: 26px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 27px;
}

.header__buttonWrapper {
  margin-left: 44px;
  button {
    padding: 16px 80px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
  }
}

.header__image {
  margin-right: -50px;
}

.inner {
  display: flex;
  flex-direction: column;
  padding: 54px 0;
}

.title {
  font-family: "CATLinz";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 29px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 28px;
}

.imagesList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 23px;
  row-gap: 20px;
}



@media (max-width: 1400px) {
  .header__image {
    margin-right: 0;
  }
}

@media (max-width: 1230px) {
  .header__image {
    max-width: 50%;
  }

  .imagesList {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1024px) {
  .header__image {
    display: none;
  }

  .header__buttonWrapper {
    margin-left: 0;
  }
}

@media (max-width: 576px) {
  .header__image {
    display: block;
    max-width: 100%;
  }

  .header {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: flex-start;
    height: auto;
  }

  .header__inner {
    max-width: 360px;
  }

  .header__title {
    font-size: 42px;
    line-height: 43px;
    color: #f9f4f1;
  }

  .header__subtitle {
    font-size: 14px;
    line-height: 22px;
    color: #f9f4f1;
    margin-bottom: 40px;
  }

  .header__buttonWrapper {
    button {
      width: 100%;
    }
  }

  .imagesList {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .title {
    font-size: 24px;
    line-height: 23px;
    color: #f9f4f1;
  }
}
