.wrapper {
  height: 100vh;
  background-color: black;
  display: flex;
}

.bgImage {
  width: 400px;
  height: 100%;
  position: relative;
  border-right: 2px solid#3D3D3D;

  background-image: url("../../../public/images/backgrounds/login-bg/login-bg-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.inner {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("../../../public/images/backgrounds/login-bg/login-bg-2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  min-width: 400px;
  width: 100%;
  margin: 0 20px;
}

.form__title {
  font-family: "CATLinz";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 29px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #f9f4f1;
  margin-bottom: 25px;
}

.form__inputs {
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: relative;
  margin-bottom: 53px;

  input{
    z-index: 1;
  }
}

.form__errorText {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #f14b53;
  position: absolute;
  bottom: -25px;
  left: 20px;
  animation: fadeInTop forwards 0.2s;
  z-index: 0;
}

@keyframes fadeInTop {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media (max-width: 576px) {
  .bgImage {
    display: none;
  }

  .inner {
    background: #161616;
  }

  .form {
    margin: 0 16px;
    min-width: auto;
    height: 100%;
    padding-top: 141px;

    &_title {
      margin-bottom: 60px;
      text-align: center;
    }
  }

  .button_wrapper {
    width: 100%;
    margin-top: auto;
    margin-bottom: 50px;
    button {
      width: 100%;
    }
  }
}
